.form-inline {
    margin-top: 60px;
}

.card {
    width: 50rem;
}

.fa:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: black;
}

.fa {
    color: #f542b9;
}

.spinner-border {
    margin-top: 100px;
    margin-left: 50%;
}